/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.react-grid-layout {
  & .react-grid-placeholder {
    background: $euiColorWarning;
  }
}

.full-width {
  min-width: 100%;
  max-width: 100%;
}

.height {
  height: 630px;
  display: 'inline-grid';
}

.euiFlexItem .height {
  .euiPanel .euiPanel--plain {
    height: 630px;
  }
}
